.bg{
    background-color: #4915FF;
    background-repeat: no-repeat;
}
.title{
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}
.action-btn{
    padding: 10px;
    border: solid !important;
    border-color: aquamarine !important;
    border-width: 2px !important;
    font-weight: bolder !important;
    background-color: blueviolet;
    color: white !important;
    border-radius: 80px !important;
    width: 200px;
}
